.nav {
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 50px;
    height: 40px;
    margin-right: 50rm;
    float: left;
}

.row {
    display: flex;
    align-items: right;
    justify-content: space-between;
    width: 100%;
}

.ul {
    display: inline-flex;
    align-items: right;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.nav-link {
    margin-right: 10px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.nav-link:hover {
    text-decoration: none;
    background-color: rgba(14, 84, 146, 0.575);
}

.btn {
    margin-left: 10px;
    padding: 10px;
    background-color: #0001;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(14, 84, 146, 0.575);
}

.custom-icon {
    font-size: 20px;
    color: red;
    margin: 0px 10px;
    padding: 0px;
}